<i class="far fa-circle registration__circle"></i>
<a href="http://gised.cyferx.com/" style="text-decoration: none;">
  <p
    style="font-size: 65px; top: 20px; left: 25px; position: relative;"
    class="font-weight-bold text-white cursor-pointer"
  >
    X
  </p>
</a>
<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
  <div class="registration__container">
    <!-- <h2 class="registration__heading">Login</h2> -->
    <a href="http://gised.cyferx.com/">
      <img src="./assets/images/logo.png" alt="" class="logo-img" />
    </a>
    <!-- Username -->
    <div
      class="registration__form-control registration__form-control--username"
    >
      <div class="registration__label">Username</div>
      <div class="registration__input-container">
        <i class="fas fa-user registration__icon"></i>
        <input
          type="text"
          class="registration__input"
          placeholder="Type your username"
          formControlName="emailId"
        />
      </div>
      <div
        *ngIf="
          loginForm.controls.emailId.errors &&
          loginForm.controls.emailId.touched
        "
        class="errors"
      >
        Invalid email id
      </div>
    </div>

    <!-- Password -->
    <div class="registration__form-control">
      <div class="registration__label">Password</div>
      <div class="registration__input-container">
        <i class="fas fa-lock registration__icon"></i>
        <input
          type="password"
          class="registration__input"
          placeholder="Type your password"
          formControlName="password"
        />
      </div>
      <div
        *ngIf="
          loginForm.controls.password.errors &&
          loginForm.controls.password.touched
        "
        class="errors"
      >
        Invalid Password
      </div>
    </div>
    <!-- Forgot Password -->
    <a
      href="#"
      routerLink="forgotpassword"
      class="registration__forgot-password lead"
      >Forgot Password</a
    >
    <!-- Login-Button -->
    <button
      type="submit"
      class="registration__login-btn btn btn-primary block btn-lg"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
    <!-- Signup -->
    <p class="lead text-center" *ngIf="false">Or Sign Up using</p>
    <div class="registration__signup-container" *ngIf="false">
      <!-- Facebook -->
      <a
        href="javascript:"
        class="registration__signup-link registration__signup-link--facebook"
        (click)="signInWithFB()"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->

      <!-- Gmail -->
      <a
        href="javascript:"
        class="registration__signup-link registration__signup-link--google"
        (click)="signInWithGoogle()"
        ><i class="fab fa-google"></i>
      </a>
      <!-- LinkedIn -->
    </div>
    <!-- Or Signup -->
    <div class="registration__card-footer text-center">
      <span class="lead" class="block">Have not account yet ?</span>
      <a href="" routerLink="signup" class="block uppercase">Sign Up</a>
    </div>
    <div class="text-center">
      <span style="font-size: 12px;color: #eda321 ;">*Only for officialy registered NGOs</span>
    </div>
  </div>
</form>
<app-footer></app-footer>
<block-ui></block-ui>
