<i class="far fa-circle registration__circle"></i>
<form [formGroup]="setPasswordForm" (ngSubmit)="setPasswordFormSubmit()">
<div class="registration__container">
        <a href="#" routerLink='' class="registration__forgot-password lead">Back to Login</a>
        <h2 class="registration__heading mb-1">Set Password</h2>
     
        <div
         class="mx-auto text-center"
         style="
          border: 2px solid #eda321;
          border-radius: 50px;
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem auto;
         "
        >
         <i class="fas fa-key" style="font-size: 50px;"></i>
        </div>
     
        <!-- Password -->
        <div class="registration__form-control">
         <div class="registration__label">Password</div>
         <div class="registration__input-container">
          <i class="fas fa-lock registration__icon"></i>
          <input
           type="password"
           class="registration__input"
           placeholder="Type your password"
           formControlName="password"
          />
         </div>
        </div>
        <!-- Confirm Password -->
        <div class="registration__form-control mt-2-5">
         <div class="registration__label">Confirm Password</div>
         <div class="registration__input-container">
          <i class="fas fa-lock registration__icon"></i>
          <input
           type="password"
           class="registration__input"
           placeholder="Confirm password"
           formControlName="confirmPassword"
          />
         </div>
        </div>
        <!-- Login-Button -->
        <button type="submit" class="registration__login-btn btn btn-primary block btn-lg"  [disabled]="!setPasswordForm.valid">
         Password Reset
        </button>
       </div>
       <ngx-spinner [fullScreen]="false" type="cog" size="medium"><p class="loader-message">{{loader}}</p></ngx-spinner>