<div class="registration__footer">
  <a
    href="http://gised.cyferx.com/general-information-test/"
    class="registration__footer--link"
  >
    General Information
  </a>
  <a
    href="http://gised.cyferx.com/legal/#anti-corruption-policy"
    class="registration__footer--link"
  >
    Anti-Corruption Policy
  </a>
  <a
    href="http://gised.cyferx.com/legal/#privacy-policy"
    class="registration__footer--link"
  >
    Privacy Policy
  </a>
  <a
    href="http://gised.cyferx.com/terms-of-use/"
    class="registration__footer--link"
  >
    Terms of Use
  </a>
  <a href="#" class="registration__footer--link">
    Sitemap
  </a>
</div>
