<div class="registration__footer">
  <a href="http://gised.cyferx.com/legal/" class="registration__footer--link">
    Legal
  </a>
  <a
    href="http://gised.cyferx.com/anti-corruption-policy"
    class="registration__footer--link"
  >
    Anti-Corruption Policy
  </a>
  <a
    href="http://gised.cyferx.com/privacy-policy/"
    class="registration__footer--link"
  >
    Privacy Policy
  </a>
  <a
    href="http://gised.cyferx.com/terms-of-use/"
    class="registration__footer--link"
  >
    Terms of Use
  </a>
  <a
    href="http://gised.cyferx.com/contact-us/"
    class="registration__footer--link"
  >
    Contact Us
  </a>
  <a
    href="http://gised.cyferx.com/sitemap.xml"
    class="registration__footer--link"
  >
    Sitemap
  </a>
</div>
