<div class="registration__footer">
  <a href="#" class="registration__footer--link">
   Reports
  </a>
  <a href="#" class="registration__footer--link">
   Financial Overview
  </a>
  <a href="#" class="registration__footer--link">
   Anti-Corruption Policy
  </a>
  <a href="#" class="registration__footer--link">
   Reports
  </a>
  <a href="#" class="registration__footer--link">
   Privacy Policy
  </a>
  <a href="#" class="registration__footer--link">
   Terms of Use
  </a>
  <a href="#" class="registration__footer--link">
   Sitemap
  </a>
 </div>