  <i class="far fa-circle application__circle"></i>

  <div class="application__nav">
<a href="#" class="registration__forgot-password lead" (click)="logout()" style="margin-left:20px;color:black;font-size:15px;">Logout</a>
   <span class="application__nav--name">Jhon Doe</span>
   <i class="far fa-user-circle application__nav--icon"></i>
  </div>
  <div class="application__container">
   <!-- APplication Profile -->
   <div class="application__profile">
    <!-- Profile header -->
    <div class="profile__header">
     <span class="lead-dark">My Profile</span>
     <i class="fas fa-ellipsis-h profile__icon"></i>
    </div>
    <img src="./assets/images/profile.jpeg" alt="" class="profile__image" />
    <div class="profile__name">Admin Profile</div>
    <hr class="profile__line" />
    <!-- Profile Info -->
    <!-- Gender -->
    <div class="profile__info">
     <div class="lead-dark">
      Gender
     </div>
     <div class="semi-bold">
      Male
     </div>
    </div>
    <!-- Age -->
    <div class="profile__info">
     <div class="lead-dark">
      Age
     </div>
     <div class="semi-bold">
      26 years old
     </div>
    </div>
    <!-- Country -->
    <div class="profile__info">
     <div class="lead-dark">
      Country
     </div>
     <div class="semi-bold">
      Malta
     </div>
    </div>
    <!-- Contact -->
    <div class="profile__info">
     <div class="lead-dark">
      Contact
     </div>
     <div class="semi-bold">
      + 356 4283 4629
     </div>
    </div>
    <!-- Email -->
    <div class="profile__info">
     <div class="lead-dark">
      Email
     </div>
     <div class="semi-bold">
      jhon.d@gmail.com
     </div>
    </div>
   </div>
   <!-- Application Category -->
   <div class="application__category">
    <h6 class="lead-dark">Grant Category:</h6>
    <select>
     <option value="education">Education</option>
     <option value="lorem">Lorem Ipsum</option>
     <option value="senore">Senore Deas</option>
    </select>
   </div>
   <!-- Application Status -->
   <div class="application__status">
    <h6 class="lead-dark">Current Status:</h6>
    <span>Awaiting approval</span>
   </div>
   <!-- Application Suggestion -->
   <div class="application__suggestion clearfix">
    <h6>Suggestions or Comments</h6>
    <textarea class="block"></textarea>
    <button class="btn btn-primary">
     Submit
    </button>
   </div>
   <!-- Application Progress -->
   <div class="application__progress">
    <h6 class="lead-dark">Application Progress</h6>
    <!-- ************************************************************ -->
    <!-- First Contact -->
    <div class="accordian__section first-contact">
     <div class="accordian__number">
      <span class="accordian__number-digit">1</span>
      <i class="fas fa-check none accordian__check"></i>
     </div>
     <div class="accordian__data">
      <h6>First Contact</h6>
      <!-- Completed Message -->
      <div class="first-contact__completed accordian__completed none">
       <div class="accordian__completed--btn-container">
        <div class="lead-dark accordian__completed--approved-msg">
         Contact details received and approved. All request have been accepted
        </div>
        <a href="#" class="text-primary">See details</a>
        <a href="#" class="text-primary">Share the details</a>
       </div>
       <div class="accordian__completed--text">
        This section of your application is complete
       </div>
      </div>
      <!-- Main data -->
      <div class="first-contact__container accordian__main-data">
       <!-- *********** LEFT SECTION ************ -->
       <div class="first-contact__left">
        <!-- Textarea 1 -->
        <div class="first-contact__textarea-container">
         <div class="first-contact__left-question uppercase">
          How would you describe your idea to someone in 30 seconds or less ?
         </div>
         <textarea></textarea>
        </div>
        <!-- Textarea 2 -->
        <div class="first-contact__textarea-container">
         <div class="first-contact__left-question uppercase">
          How would you describe your idea to someone in 30 seconds or less ?
         </div>
         <textarea></textarea>
        </div>
        <!-- Textarea 3 -->
        <div class="first-contact__textarea-container">
         <div class="first-contact__left-question uppercase">
          How would you describe your idea to someone in 30 seconds or less ?
         </div>
         <textarea></textarea>
        </div>
       </div>
       <!-- *********** RIGHT SECTION ************ -->
       <div class="first-contact__right">
        <!-- First Name -->
        <div class="first-contact__form-control">
         <span>First Name</span>
         <input type="text" class="first-contact__input" />
        </div>
        <!-- Last Name -->
        <div class="first-contact__form-control">
         <span>Last Name</span>
         <input type="text" class="first-contact__input" />
        </div>
        <!-- Email -->
        <div class="first-contact__form-control">
         <span>Email</span>
         <input type="text" class="first-contact__input" />
        </div>
        <!-- Organization Name -->
        <div class="first-contact__form-control">
         <span>Organization Name</span>
         <input type="text" class="first-contact__input" />
        </div>
        <!-- Org Details -->
        <div class="first-contact__form-control">
         <span>Org Details</span>
         <input type="text" class="first-contact__input" />
        </div>
        <!-- Sign up for details -->
        <div class="first-contact__form-control">
         <span>Sign up for emails</span>
         <input type="checkbox" class="first-contact__right--checkbox" />
        </div>
        <!-- =============== -->
        <h6 class="first-contact__source--heading">Source</h6>
        <div class="first-contact__source--container">
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div>
          <input type="checkbox" />
          <span class="lead-dark">Newspaper</span>
         </div>
         <div class="first-contact__source--others">
          <span class="lead-dark">Others</span>
          <input type="text" />
         </div>
        </div>
        <button class="btn btn-primary first-contact__submit-btn">
         Submit
        </button>
       </div>
      </div>
     </div>
    </div>
    <!-- ************************************************************* -->
    <!-- Brief Assesment -->
    <div class="accordian__section brief-assesment">
     <div class="accordian__number">
      <span class="accordian__number--digit">2</span>
      <i class="fas fa-check none accordian__number--check"></i>
     </div>
     <div class="accordian__data">
      <h6>Brief Assesment</h6>
      <!-- Completed Message -->
      <div class="accordian__completed none">
       <div>
        <div class="lead-dark accordian__completed--approved-msg">
         Contact details received and approved. All request have been accepted
        </div>
        <a href="#" class="text-primary">See details</a>
        <a href="#" class="text-primary">Share the details</a>
       </div>
       <div class="accordian__completed--text">
        This section of your application is complete
       </div>
      </div>
      <div class="brief-assesment__container accordian__main-data">
       <div class="brief-assesment__form-control">
        <span class="lead-dark">Name</span>
        <input type="text" class="brief-assesment__form-control--input" />
       </div>
       <div class="brief-assesment__form-control">
        <span class="lead-dark">Address</span>
        <input type="text" class="brief-assesment__form-control--input" />
       </div>
       <div class="brief-assesment__form-control">
        <span class="lead-dark">Email</span>
        <input type="text" class="brief-assesment__form-control--input" />
       </div>
       <div class="brief-assesment__form-control">
        <span class="lead-dark">Telephone Number</span>
        <input type="text" class="brief-assesment__form-control--input" />
       </div>
       <div class="brief-assesment__form-control">
        <span class="lead-dark">Website (Optional)</span>
        <input type="checkbox" />
       </div>
       <!-- ====== -->
       <div class="brief-assesment__fileupload-section">
        <div class="brief-assesment__fileupload-container">
         <span class="lead-dark"
          >Purpose of the Project, specifying the problems and issues it will
          address
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="brief-assesment__fileupload-container">
         <span class="lead-dark"
          >Detailed Information about the organization conducting the project
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="brief-assesment__fileupload-container">
         <span class="lead-dark">Estimated overall Budget </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="brief-assesment__fileupload-container">
         <span class="lead-dark"
          >Period of time for which founds are requested
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="brief-assesment__fileupload-container">
         <span class="lead-dark"
          >Purpose of the Project, specifying the problems and issues it will
          address
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
       </div>
       <button class="btn btn-primary brief-assesment__submit-btn text-center">
        Submit
       </button>
      </div>
     </div>
    </div>
    <!-- ************************************************************* -->
    <!-- Detailed Presentation -->
    <div class="accordian__section detailed-presentation">
     <div class="accordian__number">
      <span class="accordian__number-digit">3</span>
      <i class="fas fa-check none accordian__check"></i>
     </div>
     <div class="accordian__data">
      <h6>Detailed Presentation</h6>
      <!-- Completed Message -->
      <div class="accordian__completed none">
       <div>
        <div class="lead-dark accordian__completed--approved-msg">
         Contact details received and approved. All request have been accepted
        </div>
        <a href="#" class="text-primary">See details</a>
        <a href="#" class="text-primary">Share the details</a>
       </div>
       <div class="accordian__completed--text">
        This section of your application is complete
       </div>
      </div>
      <div class="detailed-presentation__container accordian__main-data">
       <!-- ====== -->
       <div class="detailed-presentation__fileupload-section">
        <div class="detailed-presentation__fileupload-container">
         <span class="lead-dark"
          >Purpose of the Project, specifying the problems and issues it will
          address
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="detailed-presentation__fileupload-container">
         <span class="lead-dark"
          >Detailed Information about the organization conducting the project
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="detailed-presentation__fileupload-container">
         <span class="lead-dark">Estimated overall Budget </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="detailed-presentation__fileupload-container">
         <span class="lead-dark"
          >Period of time for which founds are requested
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
        <div class="detailed-presentation__fileupload-container">
         <span class="lead-dark"
          >Purpose of the Project, specifying the problems and issues it will
          address
         </span>
         <div>
          <input type="file" class="" />
          <button class="btn btn-primary">Upload</button>
         </div>
        </div>
       </div>
       <button
        class="btn btn-primary detailed-presentation__submit-btn text-center"
       >
        Submit
       </button>
      </div>
     </div>
    </div>
    <!-- ************************************************************* -->
    <!-- Final Approval -->
    <div class="accordian__section final-approval">
     <div class="accordian__number remove-line">
      <span class="accordian__number-digit">4</span>
      <i class="fas fa-check none accordian__check"></i>
     </div>
     <div class="accordian__data">
      <h6>Final Approval</h6>
      <div class="final-approval__container">
       <p>
        I hereby acknowledge that the information provided is true, correct and
        complete.
       </p>
       <div class="final-approval__btn-container">
        <button class="btn btn-edit">Edit</button>
        <button class="btn btn-draft">Save Draft</button>
        <button class="btn btn-primary">Submit</button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
