<!-- <div class="application__nav">
  <a
    href="#"
    class="registration__forgot-password lead"
    (click)="logout()"
    style="margin-left: 20px; color: black; font-size: 15px;"
    >Logout</a
  >
  <span class="application__nav--name"
    >{{ loggedProfile.title }}. {{ loggedProfile.first_name }}
    {{ loggedProfile.last_name }}</span
  >
  <i class="far fa-user-circle application__nav--icon"></i>
</div> -->

<div class="admin-profile-container">
  <div class="application__profile-details admin-profile-right">
    <div class="application__profile-details--container">
      <h4 class="application__profile-details--container-name">
        {{ loggedProfile.title }}. {{ loggedProfile.first_name }}
        {{ loggedProfile.last_name }}
      </h4>
      <img
        src="https://via.placeholder.com/150"
        alt="Profile Photo"
        class="application__profile-details--icon"
      />
    </div>
    <hr style="margin: 1rem 0;" />
    <a href="" (click)="logout()" class="float-right">Logout</a>
  </div>
</div>
<div class="application__container">
  <!-- APplication Profile -->
  <div class="application__profile">
    <div class="flex justify-end">
      <a
        href="javascript:"
        class="trigger-profile"
        (click)="openModal('adminProfile-modal')"
        >Edit profile</a
      >
    </div>
    <!-- Profile header -->
    <div class="profile__header"></div>
    <img [src]="profileImg" alt="Profile Photo" class="profile__image" />
    <!-- <form [formGroup]="profilePhotoUpoadForm">

    <div>
      <input type='file' #profilePic (change)="onSelectProfileImage($event)" [accept]="profileImgFileTypes" formControlName="profilePhoto">
      <button type="button" (click)="profilePic.click()" class="btn btn-primary btn-profile-photo">Edit Photo</button>
    </div>
  </form> -->
    <div class="profile__name">
      {{ loggedProfile.title }}. {{ loggedProfile.first_name }}
      {{ loggedProfile.last_name }}
    </div>
    <hr class="profile__line" />
    <!-- Profile Info -->
    <!-- Gender -->
    <div class="profile__info">
      <div class="lead-dark">
        Gender
      </div>
      <div class="semi-bold">
        {{ loggedProfile.gender }}
      </div>
    </div>
    <!-- Age -->
    <div class="profile__info">
      <div class="lead-dark">
        Age
      </div>
      <div class="semi-bold">{{ loggedProfile.age }} years old</div>
    </div>
    <!-- Country -->
    <div class="profile__info">
      <div class="lead-dark">
        Country
      </div>
      <div class="semi-bold">
        {{ loggedProfile.country_name }}
      </div>
    </div>
    <!-- Contact -->
    <div class="profile__info">
      <div class="lead-dark">
        Contact
      </div>
      <div class="semi-bold">
        {{ loggedProfile.mobile_no }}
      </div>
    </div>
    <!-- Email -->
    <div class="profile__info">
      <div class="lead-dark">
        Email
      </div>
      <div class="semi-bold profile-email">
        {{ loggedProfile.email_id }}
      </div>
    </div>
  </div>

  <!-- Application Suggestion -->
  <form [formGroup]="feedBackForm" (ngSubmit)="feedBackFormSubmit()">
    <div class="application__suggestion clearfix hide">
      <h6>Suggestions or Comments</h6>
      <textarea class="block" formControlName="feedback"></textarea>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!feedBackForm.valid"
      >
        Submit
      </button>
    </div>
  </form>

  <!-- List Progress -->
  <div
    class="application__progress table__progress show"
    [ngClass]="{
      show: adminTableView == 'OPEN',
      hide: adminTableView == 'CLOSE'
    }"
  >
    <table>
      <thead>
        <tr>
          <th>Gised ID</th>
          <th>User Name</th>
          <th>Email ID</th>
          <th>Mobile No</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="userRequestListCount == 0">
          <td colspan="5" style="text-align: center;">No records</td>
        </tr>
        <tr *ngFor="let record of userRequestList">
          <td>GISED{{ record.gised_id }}</td>
          <td>{{ record.user_name }}</td>
          <td>{{ record.email_id }}</td>
          <td>{{ record.mobile_no }}</td>
          <td>{{ record.status_value }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewUserForm(record.gised_id, record.email_id)"
            >
              View Form
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- List Progress end -->

  <!-- Application Progress -->
  <div
    class="application__progress form-details__progress hide"
    [ngClass]="{
      show: adminFormView == 'OPEN',
      hide: adminFormView == 'CLOSE'
    }"
  >
    <button class="btn btn-primary view-table" (click)="viewUserList()">
      Back to List
    </button>
    <h6 class="lead-dark">Application Progress</h6>
    <!-- ************************************************************ -->
    <!-- First Contact -->
    <form [formGroup]="firstContactForm">
      <div class="accordian__section first-contact" id="firstContactFormId">
        <div class="accordian__number">
          <span class="accordian__number-digit">1</span>
          <i class="fas fa-check none accordian__check"></i>
        </div>
        <div class="accordian__data">
          <h6>First Contact</h6>
          <!-- Completed Message -->
          <div class="first-contact__completed accordian__completed none">
            <div class="accordian__completed--btn-container">
              <div class="lead-dark accordian__completed--approved-msg">
                Contact details received and approved. All request have been
                accepted
              </div>
              <button type="button" class="text-primary">See details</button
              >&nbsp;
              <button type="button" class="text-primary">
                Share the details
              </button>
            </div>
            <div class="accordian__completed--text">
              This section of your application is complete
            </div>
          </div>
          <!-- Main data -->
          <div class="first-contact__container accordian__main-data">
            <!-- *********** LEFT SECTION ************ -->
            <div class="first-contact__left">
              <!-- Textarea 1 -->
              <div class="first-contact__textarea-container">
                <div class="first-contact__left-question uppercase">
                  How would you describe your idea to someone in 30 seconds or
                  less ?
                </div>
                <textarea
                  formControlName="describeIdea1"
                  [value]="firstContactValues?.brief_idea"
                ></textarea>
              </div>
              <!-- Textarea 2 -->
              <div class="first-contact__textarea-container">
                <div class="first-contact__left-question uppercase">
                  How would you describe your idea to someone in 30 seconds or
                  less ?
                </div>
                <textarea
                  formControlName="describeIdea2"
                  [value]="firstContactValues?.explained_idea"
                ></textarea>
              </div>
              <!-- Textarea 3 -->
              <div class="first-contact__textarea-container">
                <div class="first-contact__left-question uppercase">
                  How would you describe your idea to someone in 30 seconds or
                  less ?
                </div>
                <textarea
                  formControlName="describeIdea3"
                  [value]="firstContactValues?.about_group"
                ></textarea>
              </div>
            </div>
            <!-- *********** RIGHT SECTION ************ -->
            <div class="first-contact__right">
              <!-- First Name -->
              <div class="first-contact__form-control">
                <span>First Name</span>
                <input
                  type="text"
                  class="first-contact__input"
                  formControlName="firstName"
                  [value]="firstContactValues?.first_name"
                />
              </div>
              <!-- Last Name -->
              <div class="first-contact__form-control">
                <span>Last Name</span>
                <input
                  type="text"
                  class="first-contact__input"
                  formControlName="lastName"
                  [value]="firstContactValues?.last_name"
                />
              </div>
              <!-- Email -->
              <div class="first-contact__form-control">
                <span>Email</span>
                <input
                  type="text"
                  class="first-contact__input"
                  formControlName="email"
                  [value]="firstContactValues?.email_id"
                />
              </div>
              <!-- Organization Name -->
              <div class="first-contact__form-control">
                <span>Organization Name</span>
                <input
                  type="text"
                  class="first-contact__input"
                  formControlName="organizationName"
                  [value]="firstContactValues?.organization_name"
                />
              </div>
              <!-- Org Details -->
              <div class="first-contact__form-control">
                <span>Org Details</span>
                <input
                  type="text"
                  class="first-contact__input"
                  formControlName="orgDetails"
                  [value]="firstContactValues?.org_details"
                />
              </div>
              <!-- Sign up for details -->
              <div class="first-contact__form-control">
                <span>Sign up for emails</span>
                <input
                  type="checkbox"
                  class="first-contact__right--checkbox"
                  formControlName="signUpEmail"
                  [checked]="
                    firstContactValues?.sign_up_for_emails === 'Y'
                      ? true
                      : false
                  "
                />
              </div>
              <!-- =============== -->
              <form [formGroup]="firstContactForm.controls.sourceValue">
                <h6 class="first-contact__source--heading">Source</h6>
                <div class="first-contact__source--container">
                  <div>
                    <input
                      type="checkbox"
                      formControlName="newspaper"
                      [checked]="
                        firstContactValues?.r_source_id?.newspaper == true
                          ? true
                          : false
                      "
                    />
                    <span class="lead-dark">Newspaper</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="edm"
                      [checked]="firstContactValues?.r_source_id?.edm"
                    />
                    <span class="lead-dark">EDM</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="sms"
                      [checked]="firstContactValues?.r_source_id?.sms"
                    />
                    <span class="lead-dark">SMS</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="website"
                      [checked]="firstContactValues?.r_source_id?.website"
                    />
                    <span class="lead-dark">Website</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="pressads"
                      [checked]="
                        firstContactValues?.r_source_id?.pressads === true
                          ? true
                          : false
                      "
                    />
                    <span class="lead-dark">Press Ads</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="online"
                      [checked]="firstContactValues?.r_source_id?.online"
                    />
                    <span class="lead-dark">Online</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="wordofmouth"
                      [checked]="firstContactValues?.r_source_id?.wordofmouth"
                    />
                    <span class="lead-dark">Word of mouth</span>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="maildrop"
                      [checked]="firstContactValues?.r_source_id?.maildrop"
                    />
                    <span class="lead-dark">Maildrop</span>
                  </div>
                  <div class="first-contact__source--others">
                    <span class="lead-dark">Others</span>
                    <input
                      type="text"
                      formControlName="others"
                      [value]="firstContactValues?.r_source_id?.others"
                    />
                  </div>
                </div>
              </form>
              <div
                class="first-contact__admin-btn-container"
                *ngIf="presentFormNo == 1"
              >
                <button
                  type="button"
                  class="btn btn-primary first-contact__submit-btn"
                  (click)="formApprove(1)"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-primary first-contact__submit-btn"
                  (click)="openModal('hold-modal')"
                >
                  Hold
                </button>
                <button
                  type="button"
                  class="btn btn-danger first-contact__submit-btn"
                  (click)="openModal('reject-modal')"
                >
                  Reject
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ************************************************************* -->
    <!-- Brief Assesment -->
    <form [formGroup]="briefAssesmentForm">
      <div class="accordian__section brief-assesment" id="briefAssesmentFormId">
        <div class="accordian__number">
          <span class="accordian__number--digit">2</span>
          <i class="fas fa-check none accordian__number--check"></i>
        </div>
        <div class="accordian__data">
          <h6>Brief Assesment</h6>
          <!-- Completed Message -->
          <div class="accordian__completed none">
            <div>
              <div class="lead-dark accordian__completed--approved-msg">
                Contact details received and approved. All request have been
                accepted
              </div>
              <button type="button" class="text-primary">See details</button
              >&nbsp;
              <button type="button" class="text-primary">
                Share the details
              </button>
            </div>
            <div class="accordian__completed--text">
              This section of your application is complete
            </div>
          </div>
          <div class="brief-assesment__container accordian__main-data">
            <div class="brief-assesment__form-control">
              <span class="lead-dark">Name</span>
              <input
                type="text"
                class="brief-assesment__form-control--input"
                formControlName="name"
                [value]="briefAssesmentValues?.full_name"
              />
            </div>
            <div class="brief-assesment__form-control">
              <span class="lead-dark">Address</span>
              <input
                type="text"
                class="brief-assesment__form-control--input"
                formControlName="address"
                [value]="briefAssesmentValues?.address"
              />
            </div>
            <div class="brief-assesment__form-control">
              <span class="lead-dark">Email</span>
              <input
                type="text"
                class="brief-assesment__form-control--input"
                formControlName="email"
                [value]="briefAssesmentValues?.email_id"
              />
            </div>
            <div class="brief-assesment__form-control">
              <span class="lead-dark">Telephone Number</span>
              <input
                type="text"
                class="brief-assesment__form-control--input"
                formControlName="telephoneNo"
                [value]="briefAssesmentValues?.telephone_number"
              />
            </div>
            <div class="brief-assesment__form-control">
              <span class="lead-dark">Website (Optional)</span>
              <input
                type="checkbox"
                formControlName="website"
                [checked]="
                  briefAssesmentValues?.website_url === 'Y' ? true : false
                "
              />
            </div>
            <!-- ====== -->
            <div class="brief-assesment__fileupload-section">
              <div class="brief-assesment__fileupload-container">
                <span class="lead-dark"
                  >Purpose of the Project, specifying the problems and issues it
                  will address
                </span>
              </div>
              <div
                *ngFor="
                  let file of briefAssesmentValues?.uploads?.purposeOfProject1
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="brief-assesment__fileupload-container">
                <span class="lead-dark"
                  >Detailed Information about the organization conducting the
                  project
                </span>
              </div>
              <div
                *ngFor="
                  let file of briefAssesmentValues?.uploads?.detailedInformation
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="brief-assesment__fileupload-container">
                <span class="lead-dark">Estimated overall Budget </span>
              </div>
              <div
                *ngFor="
                  let file of briefAssesmentValues?.uploads?.estimatedBudget
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="brief-assesment__fileupload-container">
                <span class="lead-dark"
                  >Period of time for which founds are requested
                </span>
              </div>
              <div
                *ngFor="let file of briefAssesmentValues?.uploads?.periodOfTime"
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="brief-assesment__fileupload-container">
                <span class="lead-dark"
                  >Purpose of the Project, specifying the problems and issues it
                  will address
                </span>
              </div>
              <div
                *ngFor="
                  let file of briefAssesmentValues?.uploads?.purposeOfProject2
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
            </div>
            <div
              class="first-contact__admin-btn-container"
              *ngIf="presentFormNo == 2"
            >
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="formApprove(2)"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="openModal('hold-modal')"
              >
                Hold
              </button>
              <button
                type="button"
                class="btn btn-danger first-contact__submit-btn"
                (click)="openModal('reject-modal')"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ************************************************************* -->
    <!-- Detailed Presentation -->
    <form [formGroup]="detailedPresentaionForm">
      <div
        class="accordian__section detailed-presentation"
        id="detailedPresentationFormId"
      >
        <div class="accordian__number">
          <span class="accordian__number-digit">3</span>
          <i class="fas fa-check none accordian__check"></i>
        </div>
        <div class="accordian__data">
          <h6>Detailed Presentation</h6>
          <!-- Completed Message -->
          <div class="accordian__completed none">
            <div>
              <div class="lead-dark accordian__completed--approved-msg">
                Contact details received and approved. All request have been
                accepted
              </div>
              <button type="button" class="text-primary">See details</button
              >&nbsp;
              <button type="button" class="text-primary">
                Share the details
              </button>
            </div>
            <div class="accordian__completed--text">
              This section of your application is complete
            </div>
          </div>
          <div class="detailed-presentation__container accordian__main-data">
            <!-- ====== -->
            <div class="detailed-presentation__fileupload-section">
              <div class="detailed-presentation__fileupload-container">
                <span class="lead-dark"
                  >Purpose of the Project, specifying the problems and issues it
                  will address
                </span>
              </div>
              <div
                *ngFor="
                  let file of detailedPresentationValues?.uploads
                    ?.purposeOfProject1
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="detailed-presentation__fileupload-container">
                <span class="lead-dark"
                  >Detailed Information about the organization conducting the
                  project
                </span>
              </div>
              <div
                *ngFor="
                  let file of detailedPresentationValues?.uploads
                    ?.detailedInformation
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="detailed-presentation__fileupload-container">
                <span class="lead-dark">Estimated overall Budget </span>
              </div>
              <div
                *ngFor="
                  let file of detailedPresentationValues?.uploads
                    ?.estimatedBudget
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="detailed-presentation__fileupload-container">
                <span class="lead-dark"
                  >Period of time for which founds are requested
                </span>
              </div>
              <div
                *ngFor="
                  let file of detailedPresentationValues?.uploads?.periodOfTime
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
              <div class="detailed-presentation__fileupload-container">
                <span class="lead-dark"
                  >Purpose of the Project, specifying the problems and issues it
                  will address
                </span>
              </div>
              <div
                *ngFor="
                  let file of detailedPresentationValues?.uploads
                    ?.purposeOfProject2
                "
                style="display: block; font-size: 14px;"
              >
                {{ file.displayFileName }}&nbsp;<button
                  type="button"
                  (click)="
                    fileDownload(file.displayFileName, file.downloadFileName)
                  "
                  style="margin: 5px;"
                >
                  Download
                </button>
              </div>
              <br />
            </div>
            <div
              class="first-contact__admin-btn-container"
              *ngIf="presentFormNo == 3"
            >
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="formApprove(3)"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="openModal('hold-modal')"
              >
                Hold
              </button>
              <button
                type="button"
                class="btn btn-danger first-contact__submit-btn"
                (click)="openModal('reject-modal')"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ************************************************************* -->
    <!-- Final Approval -->
    <div class="accordian__section final-approval">
      <div class="accordian__number remove-line">
        <span class="accordian__number-digit">4</span>
        <i class="fas fa-check none accordian__check"></i>
      </div>
      <form [formGroup]="finalApprovalForm">
        <div class="accordian__data">
          <h6>Final Approval</h6>
          <div class="final-approval__container">
            <p>
              I hereby acknowledge that the information provided is true,
              correct and complete.
            </p>
            <div
              class="first-contact__admin-btn-container"
              *ngIf="presentFormNo == 4"
            >
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="formApprove(4)"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-primary first-contact__submit-btn"
                (click)="openModal('hold-modal')"
              >
                Hold
              </button>
              <button
                type="button"
                class="btn btn-danger first-contact__submit-btn"
                (click)="openModal('reject-modal')"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<block-ui></block-ui>

<!--Edit Profile model-->
<jw-modal id="adminProfile-modal" class="modal-profile">
  <span
    class="close-button-profile close-button"
    (click)="closeModal('adminProfile-modal')"
    >×</span
  >
  <form [formGroup]="editProfileForm" (ngSubmit)="editProfileSubmit()">
    <div class="profile-modal__container">
      <img [src]="profileImg" alt="Profile Photo" />
      <div class="change-image-btn-container">
        <input
          type="file"
          (change)="onSelectProfileImages($event)"
          [accept]="profileImgFileTypes"
        />
        <button class="btn btn-primary">Change photo</button>
      </div>
      <!-- Name -->
      <div class="form-control">
        <p class="semi-bold">Name</p>
        <input
          type="text"
          formControlName="fullName"
          [value]="loggedProfile.first_name"
        />
      </div>
      <div
        *ngIf="
          editProfileForm.controls.fullName.errors &&
          editProfileForm.controls.fullName.touched
        "
        class="errors"
      >
        Invalid Name
      </div>
      <!-- DOB -->
      <div class="form-control">
        <p class="semi-bold">Date of birth</p>
        <input
          type="date"
          placeholder="Date of Birth"
          [value]="
            loggedProfile.date_of_foundation == 'Nil'
              ? ''
              : loggedProfile.date_of_foundation
          "
          formControlName="dob"
          min=""
          max=""
        />
      </div>
      <div
        *ngIf="
          editProfileForm.controls.dob.errors &&
          editProfileForm.controls.dob.touched
        "
        class="errors"
      >
        Invalid Date of Birth
      </div>
      <!-- Country -->
      <div class="form-control">
        <p class="semi-bold">Country</p>
        <select
          placeholder="Country"
          formControlName="country"
          [(ngModel)]="loggedProfile.r_country_id"
          class="select-country"
        >
          <option value="0">Select your country</option>
          <option
            *ngFor="let country of countries"
            value="{{ country.country_id }}"
            >{{ country.country_name }}</option
          >
        </select>
      </div>
      <div
        *ngIf="
          editProfileForm.controls.country.errors &&
          editProfileForm.controls.country.touched
        "
        class="errors"
      >
        Invalid Country
      </div>
      <!-- Contact -->
      <div class="form-control">
        <p class="semi-bold">Contact</p>
        <input
          type="text"
          placeholder="Phone Number"
          formControlName="mobileNo"
          [value]="
            loggedProfile.mobile_no == 'Nil' ? '' : loggedProfile.mobile_no
          "
        />
      </div>
      <div
        *ngIf="
          editProfileForm.controls.mobileNo.errors &&
          editProfileForm.controls.mobileNo.touched
        "
        class="errors"
      >
        Invalid Contact
      </div>
      <!-- Gender -->
      <div class="form-control">
        <p class="semi-bold">Gender</p>
        <div class="registration__input-container">
          <div class="signup__radio-container">
            <div class="signup__radio-input-container">
              <i class="fas fa-venus-mars mr-1"></i>
              <label for="male"> Male</label>
              <input
                type="radio"
                class=""
                name="gender"
                value="Male"
                formControlName="gender"
                [checked]="loggedProfile.gender == 'Male' ? true : false"
              />
            </div>
            <div class="signup__radio-input-container">
              <label for="male">Female</label>
              <input
                type="radio"
                class=""
                name="gender"
                value="Female"
                formControlName="gender"
                [checked]="loggedProfile.gender == 'Female' ? true : false"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="
          editProfileForm.controls.gender.errors &&
          editProfileForm.controls.gender.touched
        "
        class="errors"
      >
        Invalid Gender
      </div>

      <!-- Age -->
      <!-- <div class="form-control">
    <p class="semi-bold">Age</p>
    <span contenteditable="true">22</span>
   </div> -->

      <!-- Field of Activity -->
      <!-- <div class="form-control">
        <p class="semi-bold">Field of Activity</p>
        <select
          placeholder="Grant Category"
          formControlName="applicationValues"
          [(ngModel)]="loggedProfile.field_of_activity"
        >
        <option value="0">Select Field of Activity</option>
          <option
            *ngFor="let application of applications"
            [value]="application.application_details_id"
            >{{ application.application_name }}</option
          >
        </select>
      </div> -->
      <button
        type="submit"
        class="btn btn-primary semi-bold float-right"
        [disabled]="!editProfileForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</jw-modal>

<jw-modal id="hold-modal">
  <form [formGroup]="holdApprovalForm" (ngSubmit)="holdReason()">
    <span
      class="close-button-feedback close-button"
      (click)="closeModal('hold-modal')"
      >×</span
    >
    <h4 class="text-center mb-1 feedback-heading">Write your Holding Reason</h4>
    <textarea
      name=""
      id=""
      class="default-textarea"
      formControlName="reason"
    ></textarea>
    <div class="mt-1">
      <button
        class="btn btn-primary float-right"
        type="submit"
        [disabled]="!holdApprovalForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</jw-modal>

<jw-modal id="reject-modal">
  <form [formGroup]="rejectApprovalForm" (ngSubmit)="rejectReason()">
    <span
      class="close-button-feedback close-button"
      (click)="closeModal('reject-modal')"
      >×</span
    >
    <h4 class="text-center mb-1 feedback-heading">
      Write your Rejecting Reason
    </h4>
    <textarea
      name=""
      id=""
      class="default-textarea"
      formControlName="reason"
    ></textarea>
    <div class="mt-1">
      <button
        class="btn btn-primary float-right"
        [disabled]="!rejectApprovalForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</jw-modal>
