<i class="far fa-circle registration__circle"></i>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordFormSubmit()">
<div class="registration__container">
<a href="#" routerLink='' class="registration__forgot-password lead">Back to Login</a>
<h2 class="registration__heading mb-1">Forgot Password</h2>

<div
    class="mx-auto text-center"
    style="
    border: 2px solid #eda321;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    "
>
    <i class="fas fa-key" style="font-size: 50px;"></i>
</div>

<!-- Password -->
<div class="registration__form-control">
    <div class="registration__label">E-Mail ID</div>
    <div class="registration__input-container">
    <i class="fas fa-lock registration__icon"></i>
    <input
    type="text"
    class="registration__input"
    placeholder="Enter your email id"
    formControlName="emailId"
    />
    </div>
    <div class="error-msg" *ngIf="forgotPasswordForm.controls.emailId.touched && forgotPasswordForm.controls.emailId.errors">Invalid mail id</div>
    <!-- <div class="error-msg" *ngIf="errorMsg != '' && !forgotPasswordForm.controls.emailId.errors">{{errorMsg}}</div> -->
</div>
<!-- Login-Button -->
<button type="submit" class="registration__login-btn btn btn-primary block btn-lg" [disabled]="!forgotPasswordForm.valid">
    Send Link to Email
</button>
</div>
<block-ui></block-ui>