.btn-small {
  padding: 0.4rem 1rem;
  width: 150px;
}

.feedback-heading {
  font-size: 20px;
}

.modal-profile {
}

.profile-modal__container {
  max-height: 600px;
  overflow-y: scroll;
  padding: 1rem;
}

.modal-profile input {
  padding: 0.2rem;
}

.modal-profile .form-control {
  padding-bottom: 0;
  height: 100%;
  padding: 0.4rem;
  align-items: center !important;
}

.modal-profile p {
  margin-bottom: 0;
}

.modal-profile .select-country {
  width: 80%;
}

.application__profile-details--container-name {
  font-size: 18px;
}

.application__profile-details--container {
  align-items: center;
}

.application__profile-details--container img {
  border-radius: 50px;
  width: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

#userProfile-modal .form-control {
  display: block;
  padding: 0.6rem;
}

#userProfile-modal .form-control input,
#userProfile-modal .form-control select {
  width: 100%;
}

#userProfile-modal .form-control > p {
  margin-bottom: 0.5rem;
}
